.profile {
  align-items: center;
  display: flex;
}

.profile__image {
  margin-right: 1rem;
  width: 4rem;
}

.profile__name {
  font-size: 1.6rem;
  font-weight: 700;
  margin: 0;
}

.profile__description {
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
}

.profile__address {
  color: $gray-600;
  font-style: italic;
  margin-bottom: 0;
  margin-top: 0.25rem;
}

@include media-breakpoint-up(sm) {
  .profile__image {
    width: 6.5rem;
  }
}

@include media-breakpoint-up(lg) {
  .profile__image {
    width: 9rem;
  }
}
